<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
  </head>

  <body ng-controller="GitUserSearchController">

    <div id="form">
      <h1>Github Report Card</h1>
      <p>Please enter username:<p>
      <form class="form-horizontal">
        <input type="text" ng-model="searchTerm" ng-change="doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 50} }">
        <button class="btn" ng-click="doSearch()">Search</button>
      </form>
      <p id="search_message">You searched for: {{ searchTerm }}</p>
    </div>
      
    <div class="profile_container" ng-repeat="user in searchResult.items">
      <img class="img" ng-src="{{user.avatar_url}}">
      <section class="info">
        <p>Username:<br><a ng-href="{{user.html_url}}">{{user.login}}</a></p>
        <button class="btn" ng-click="viewRepos()">View Report</button>
      </section>
    </div>

    <br>

    <h2 id="repo_header">Repositories</h2>
    
    <div class="repo_container" ng-repeat="repo in repos">
      <ul class="list-group">
        <li>Repo: {{ repo.name }}</li>
        <li>Total commits: {{ repo.totalCommits }}</li>
        <li>{{ searchTerm }}'s commits: {{ repo.userCommits }}</li>
      </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>

  </body>
</html>
